@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition:  background-color .4s ease-in-out;
    
}

body{
    background: url('./assets/background.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
}

html {
    overflow-x: hidden;
}

.ds {
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.scroll::-webkit-scrollbar {
    display: none;
}

body, html { 
    font-family: 'Vazir', sans-serif;
  }